body {
    color: #111;
    font-family: "Inter", sans-serif;
    max-width: 1280px;
    margin: auto;
}

img {
    max-width: 100%;
}

/* general styles */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* mobile */
nav>div {
    background: #000;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
}

nav>div>div {
    flex: 1;
    justify-content: center;
}

nav>div>ul {
    flex: 1;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 18.75rem;
}

nav a {
    text-decoration: none;
    color: #EDEDED;
}

nav li {
    padding: 0 2rem;
}

.box-one {
    background: #EDEDED;
    padding: 4rem 2rem 2rem 3rem;
}

.box-one img {
    margin-bottom: 2.5rem;
}

.box-one h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: normal;
}

.box-one>div>div:nth-child(4)>p,
.box-one>div>div:nth-child(2)>p {
    font-size: 1.81rem;
    margin-bottom: 2rem;
}

.box-one>div>div:nth-child(3)>p {
    font-size: 0.87rem;
}

.box-one>div>div:nth-child(5)>p,
.box-one>div>div:nth-child(7)>p,
.box-one > div > div:nth-child(6) > p {
    font-size: 0.87rem;
    margin-bottom: 1rem;
}


.box-two {
    padding: 4.5rem 2.6rem;
    background: #fff;
    font-size: 1.8rem;
    text-align: center;
}


.box-three {
    background-color: black;
    color: #fff;
    padding: 2rem;
}

.box-three img {
    border-radius: 0.25rem;
}

.box-three>div:nth-child(1)>p,
.box-three>div:nth-child(2)>p:nth-child(2) {
    font-size: 0.87rem;
}

.box-three>div:nth-child(1)>p {
    margin-bottom: 2rem;
}

.box-three>div:nth-child(2)>p:nth-child(1) {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}


hr {
    width: 1rem;
    height: 1rem;
    border: none;
}


footer {
    background: #000;
    padding: 1rem 2rem 2rem 4rem;
    color: #EDEDED;
}

footer img {
    width: 18.75rem;
}

footer h3 {
    font-size: 1rem;
}

footer>div:nth-child(1)>p {
    margin-top: 1rem;
    font-size: 0.87rem;
}

footer>div:nth-child(2) {
    gap: 1rem;
    margin-top: 2rem;
}

footer>div:nth-child(2) p {
    font-size: 0.75rem;
}


@media only screen and (min-width: 800px) {
    nav>div {
        flex-direction: row;
    }

    .gallery {
        column-gap: 1rem;
    }

    .gallery>div {
        width: calc(50% - .5rem);
        margin-bottom: 3rem;
        text-align: left;
    }

    .gallery-two>div {
        width: calc(50% - .5rem);
    }

    .gallery-two {
        column-gap: 1rem;
    }

    footer>div {
        width: 50%;
    }

    footer>div:nth-child(2) {
        gap: 4rem;
    }
}