body {
    color: #000000;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    margin: auto;
}

.background-container {
    padding: 1rem;
    max-width: 1280px;
    height: 100vh;
    background: url('../img/building-exterior.webp') center/cover no-repeat;
}

img {
    max-width: 100%;
}

/* general styles */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

footer {
    background: #000;
    padding: 1rem 2rem 2rem 4rem;
    color: #EDEDED;
}

footer img {
    width: 300px;
}

footer h3 {
    font-size: 15px;
}

footer>div:nth-child(1)>p {
    margin-top: 1rem;
    font-size: 14px;
}

footer>div:nth-child(2) {
    gap: 1rem;
    margin-top: 2rem;
}

footer>div:nth-child(2) p {
    font-size: 12px;
}


@media only screen and (min-width: 800px) {

    footer>div {
        width: 50%;
    }

    footer>div:nth-child(2) {
        gap: 4rem;
    }
}